<h1>Listing evaluators</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Minvalue</th>
    <th>Maxvalue</th>
    <th>Src</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @evaluators.each do |evaluator| %>
  <tr>
    <td><%= evaluator.name %></td>
    <td><%= evaluator.description %></td>
    <td><%= evaluator.minvalue %></td>
    <td><%= evaluator.maxvalue %></td>
    <td><%= evaluator.src %></td>
    <td><%= evaluator.User %></td>
    <td><%= link_to 'Show', evaluator %></td>
    <td><%= link_to 'Edit', edit_evaluator_path(evaluator) %></td>
    <td><%= link_to 'Destroy', evaluator, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Evaluator', new_evaluator_path %>
