<h1>Listing evaluators created by <%= current_user.email.split('@')[0]%></h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Minvalue</th>
    <th>Maxvalue</th>
    <th>Src</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @evaluators.each do |evaluator| %>
  <tr>
    <td><%= evaluator.name %></td>
    <td><%= evaluator.description[0..30] %></td>
    <td><%= evaluator.minvalue %></td>
    <td><%= evaluator.maxvalue %></td>
    <td><%= evaluator.src[0..10] %></td>
    <td><%= User.find(evaluator.User_id).email.split('@')[0] %></td>
    <td><%= button_to 'Show', evaluator, method: :get %></td>
    <td><%= button_to 'Edit', edit_evaluator_path(evaluator), method: :get %></td>
    <td><%= button_to 'Destroy', evaluator, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<hr />

<%= button_to 'New Evaluator', new_evaluator_path,method: :get %>
