<p id="notice"><%= notice %></p>


<p>
  <b>Name:</b><br>
  <%= @participation.name %>
</p>

<p>
  <b>Description:</b><br>
  <%= @participation.description %>
</p>

<p>
  <b>Publish Submissions:</b>
  <%= @participation.submissionspublic %>
</p>

<p>
  <b>User:</b><br>
  <%= User.find(@participation.User_id).email.split('@')[0] %>
</p>

<p>
  <b>Competition:</b><br>
  <%= @participation.Competition.name %>
</p>


<%= link_to 'Edit', edit_participation_path(@participation) %> |
<%= link_to 'Back', participations_path %>
