<p id="notice"><%= notice %></p>


<p>
  <b>Name:</b><br>
  <%= @participation.name %>
</p>

<p>
  <b>Description:</b><br>
  <%= @participation.description %>
</p>

<p>
  <b>Publish Submissions:</b>
  <%= @participation.submissionspublic %>
</p>

<p>
  <b>User:</b><br>
  <%= User.find(@participation.User_id).email.split('@')[0] %>
</p>

<p>
  <b>Competition:</b><br>
  <%= @participation.Competition.name %>
</p>
<hr/>
<table><tr>
    <td>
      <%= button_to 'All Participations', participations_path, %>
    </td>    
    <td>
      <%if user_signed_in? and @participation.User_id==current_user.id%>
        <%= button_to 'Edit', edit_participation_path(@participation),method: :get %>
      <%else%>
        <%= button_to 'Edit', edit_participation_path(@participation),method: :get,:disabled => true %>      
      <%end%>
    </td>

    <td>
      <%if user_signed_in? and @participation.User_id==current_user.id%>
        <%= button_to 'Destroy', @participation,method: :delete %> 
      <%else%>
        <%= button_to 'Destroy', @participation,method: :delete %> 
      <%end%> 
    </td>

    <td>
      <%if user_signed_in? and @participation.User_id==current_user.id and @participation.Competition.starttime <Time.now and @participation.Competition.endtime > Time.now %>
        <%= button_to 'Submit Interactive', chainsolutionget_participation_path(@participation),method: :get %> 
      <%else%>
        <%= button_to 'Submit Interactive', chainsolutionget_participation_path(@participation),method: :get,:disabled =>true %> 
      <%end%> 
    </td>   

  </tr></table>
