<h1>Listing chalenges</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Input</th>
    <th>Input filetype</th>
    <th>Groundtruth</th>
    <th>Gt filetype</th>
    <th>Dataset</th>
    <th></th>
    <th></th>
  </tr>

<% @chalenges.each do |chalenge| %>
  <% Dataset.find(chalenge.Dataset_id).User_id==current_user.id %>
  <tr>
    <td><%= chalenge.name %></td>

    <td><%= link_to(image_tag(url_for(showinput_chalenge_path(chalenge)),:style => "width:100px"),showinput_chalenge_path(chalenge)) %></td>

    <td><%= chalenge.inputfileext %></td>

    <td><%= link_to(image_tag(url_for(showgt_chalenge_path(chalenge)),:style => "width:100px"),showgt_chalenge_path(chalenge)) %></td>

    <td><%= chalenge.gtfileext %></td>

    <td><%= Dataset.find(chalenge.Dataset_id).name %></td>

    <td><%= button_to 'Show', chalenge , method: :get %></td>
    <td><%= button_to 'Destroy', chalenge, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
<% end %>
</table>

<br />


