<h1>Listing chalenges</h1>

<table>
  <tr>
    <th>Name</th>

    <th>Input</th>
    <th>Input filetype</th>
    <th>Groundtruth</th>
    <th>Gt filetype</th>
    <th>Dataset</th>
    <th></th>
    <th></th>
    <th></th>

  </tr>

<% @chalenges.each do |chalenge| %>
  <tr>
	<% ds=Dataset.find(chalenge.Dataset_id);owns=(user_signed_in? and(ds.User_id==current_user.id))%>
    <td><%= chalenge.name %></td>
	<% if ds.inputpublic or owns %>
    <td><%= link_to(image_tag(url_for(showinput_chalenge_path(chalenge)),:style => "width:100px"),showinput_chalenge_path(chalenge)) %></td>
	<% else %>
	<td>Not authorised to view</td>
	<% end %>
    <td><%= chalenge.inputfileext %></td>

	<% if ds.gtpublic or owns %>
    <td><%= link_to(image_tag(url_for(showgt_chalenge_path(chalenge)),:style => "width:100px"),showgt_chalenge_path(chalenge)) %></td>
	<% else %>
	<td>Not authorised to view</td>
	<% end %>

    <td><%= chalenge.gtfileext %></td>

    <td><%= Dataset.find(chalenge.Dataset_id).name %></td>

    <td><%= button_to 'Show', chalenge , method: :get %></td>
	<% if owns %>
    <td><%= button_to 'Edit', edit_chalenge_path(chalenge), method: :get %></td>
	<td><%= button_to 'Destroy', chalenge, confirm: 'Are you sure?', method: :delete %></td>
	<% else %>
    <td><%= button_to 'Edit', edit_chalenge_path(chalenge), method: :get,:disabled => true %></td>
	<td><%= button_to 'Destroy', chalenge, confirm: 'Are you sure?', method: :delete,:disabled => true %></td>
	<% end %>
  </tr>
<% end %>
</table>

<hr />
<% if user_signed_in? and current_user.isadmin and Dataset.find(:all,:conditions => { :User_id => current_user.id}).length > 0 %>
<%= button_to 'New Chalenge', new_chalenge_path ,method: :get %>
<%else%>
<%= button_to 'New Chalenge', new_chalenge_path ,method: :get,:disabled=>true %>
<%end%>
