<h1>New chalenge</h1>

<%= form_for(@chalenge,:html=>{:multipart=>true}) do |f| %>
  <% if @chalenge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chalenge.errors.count, "error") %> prohibited this chalenge from being saved:</h2>

      <ul>
      <% @chalenge.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label 'Input:' %><br />
  	<%=image_tag("/image_doesnt_exist.png",:style => "width:650px")%><br/>
	<%= file_field_tag 'inputfile' %>
  </div>

  <div class="field">
    <%= f.label 'Groundtruth:' %><br />
  	<%=image_tag("/image_doesnt_exist.png",:style => "width:650px")%><br/>
	<%= file_field_tag 'gtfile' %>
  </div>
  <div class="field">
	<% dsList =[] ;Dataset.find(:all,:conditions => { :User_id => current_user.id}).each do |ds|%>
	<% dsList=dsList+[[ds.name ,ds.id]]%>
	<% end %>
    <%= f.select :Dataset_id , options_for_select(dsList) %>
  </div>
<p>
  <div class="actions">
    <%= f.submit %>
  </div>
</p>
<% end %>

<hr/>
<%= button_to 'All chalenges', chalenges_path,method: :get %>
