<p id="notice"><%= notice %></p>

<% ds=Dataset.find(@chalenge.Dataset_id);owns=(user_signed_in? and(ds.User_id==current_user.id))%>
<p>
  <b>Name:</b>
  <%= @chalenge.name %>
</p>

<p>
  <b>Dataset:</b>
  <%= ds.name %>
</p>

<p>
  <table ><tr><td><b>Input:</b></td></tr><tr><td>
  <% if (ds.inputpublic )or owns %>
  <%= link_to(image_tag(url_for(showinput_chalenge_path(@chalenge)),:style => "width:650px"),showinput_chalenge_path(@chalenge)) %>
  <% else %>
  Not authorised to view
  <% end %>
  </td></tr></table>
</p>	

<p>
  <table ><tr><td><b>Groundtruth:</b></td></tr><tr><td>
  <% if (ds.gtpublic )or owns %>
  <%= link_to(image_tag(url_for(showgt_chalenge_path(@chalenge)),:style => "width:650px") ,showgt_chalenge_path(@chalenge) )%>
  <% else %>
  Not authorised to view
  <% end %>

  </td></tr></table>
</p>	

<%= link_to 'Edit', edit_chalenge_path(@chalenge) %> |
<%= link_to 'Back', chalenges_path %>
