<p id="notice"><%= notice %></p>

<p>
  <b>Gt:</b>
  <%= @chalenge.gt %>
</p>

<p>
  <b>Gtfileext:</b>
  <%= @chalenge.gtfileext %>
</p>

<p>
  <b>Input:</b>
  <%= @chalenge.input %>
</p>

<p>
  <b>Input:</b>
  <%= @chalenge.input %>
</p>

<p>
  <b>Name:</b>
  <%= @chalenge.name %>
</p>

<p>
  <b>Dataset:</b>
  <%= @chalenge.Dataset %>
</p>


<%= link_to 'Edit', edit_chalenge_path(@chalenge) %> |
<%= link_to 'Back', chalenges_path %>
