<h1>Listing datasets</h1>

<table>
  <tr>
    <th>Name</th>
	<th>Description</th>
    <th>Publish groundtruths</th>
    <th>Publish inputs</th>
    <th>Owner</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @datasets.each do |dataset| %>
  <tr>
    <td><%= dataset.name %></td>
	<td><%= dataset.description %></td>
    <td><%= dataset.gtpublic %></td>
    <td><%= dataset.inputpublic %></td>
	<td><%= User.find(dataset.User_id).email.split('@')[0] %></td>
    <td><%= link_to 'Show', dataset %></td>
    <td><%= link_to 'Edit', edit_dataset_path(dataset) %></td>
    <td><%= button_to 'Destroy', dataset, confirm: 'Are you sure?', method: :delete %></td>

	
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Dataset', new_dataset_path %>
