<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @dataset.name %>
</p>

<p>
  <b>Publish groundtruth:</b>
  <%= @dataset.gtpublic %>
</p>

<p>
  <b>Publish input:</b>
  <%= @dataset.inputpublic %>
</p>

<p>
  <b>Description:</b>
  <%= @dataset.description %>
</p>

<% if (@dataset.inputpublic and @dataset.gtpublic) or ((user_signed_in?)and( current_user.id==@dataset.User_id)) %>
<p><b>Associated Chalenges:</b>
<table>
  <tr>
    <th>Name</th>
	<th>Input</th>
    <th>Groundtruth</th>
  </tr>
  <% Chalenge.find(:all,:conditions => { :Dataset_id => @dataset.id}).each do |chalenge| %>
  <tr>
  <td><%= chalenge.name %></td>
  <td><%= link_to(image_tag(url_for(showinput_chalenge_path(chalenge)),:style => "width:100px"),showinput_chalenge_path(chalenge)) %></td>
  <td><%= link_to(image_tag(url_for(showgt_chalenge_path(chalenge)),:style => "width:100px"),showgt_chalenge_path(chalenge)) %></td>
  </tr>
  <% end %>
</table>
</p>
<%  elsif  @dataset.inputpublic and not(@dataset.gtpublic)%>
<p><b>Associated Chalenges:</b>
<table>
  <tr>
    <th>Name</th>
	<th>Input</th>
    <th>Groundtruth</th>
  </tr>
  <% Chalenge.find(:all,:conditions => { :Dataset_id => @dataset.id}).each do |chalenge| %>
  <tr>
  <td><%= chalenge.name %></td>
  <td><%= link_to(image_tag(url_for(showinput_chalenge_path(chalenge)),:style => "width:100px"),showinput_chalenge_path(chalenge)) %></td>
  <td>Not Authorised to view</td>
  </tr>
  <% end %>
</table>
</p>
<%  elsif  not(@dataset.inputpublic) and (@dataset.gtpublic)%>
<p><b>Associated Chalenges:</b>
<table>
  <tr>
    <th>Name</th>
	<th>Input</th>
    <th>Groundtruth</th>
  </tr>
  <% Chalenge.find(:all,:conditions => { :Dataset_id => @dataset.id}).each do |chalenge| %>
  <tr>
  <td><%= chalenge.name %></td>
  <td>Not authorized to view </td>
  <td><%= link_to(image_tag(url_for(showgt_chalenge_path(chalenge)),:style => "width:100px"),showgt_chalenge_path(chalenge)) %></td>
  </tr>
  <% end %>
</table>
</p>

<% end %>
<% if user_signed_in? and @dataset.User_id==current_user.id%>
<%= link_to 'Edit', edit_dataset_path(@dataset) %> |
<% end %>
<%= link_to 'Back', datasets_path %>
