<%= form_for(@competition) do |f| %>
  <% if @competition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@competition.errors.count, "error") %> prohibited this competition from being saved:</h2>

      <ul>
      <% @competition.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :starttime %><br />
    <%= f.datetime_select :starttime %>
  </div>
  <div class="field">
    <%= f.label :endtime %><br />
    <%= f.datetime_select :endtime %>
  </div>
  <div class="field">
    <%= f.label 'Publish score interactively' %><br />
    <%= f.check_box :publicscore %>
  </div>
  <div class="field">
    <%= f.label 'Evaluator' %><br />
	<% evalList =[] ;Evaluator.find(:all).each do |eval|%>
	<% evalList=evalList+[[eval.name ,eval.id]]%>
	<% end %>
    <%= f.select :Evaluator_id , options_for_select(evalList) %>
  </div>
  <div class="field">
    <%= f.label 'Dataset' %><br />
	<% dsList =[] ;Dataset.find(:all).each do |ds|%>
	<% dsList=dsList+[[ds.name ,ds.id]]%>
	<% end %>
    <%= f.select :Dataset_id , options_for_select(dsList) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
