<h1>Listing competitions</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Starttime</th>
    <th>Endtime</th>
    <th>Publicscore</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @competitions.each do |competition| %>
  <tr>
    <td><%= competition.name %></td>
    <td><%= competition.description %></td>
    <td><%= competition.starttime %></td>
    <td><%= competition.endtime %></td>
    <td><%= competition.publicscore %></td>
    <td><%= link_to 'Show', competition %></td>
    <td><%= link_to 'Edit', edit_competition_path(competition) %></td>
    <td><%= link_to 'Destroy', competition, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Competition', new_competition_path %>
