<p id="notice"><%= notice %></p>

<p>
  <b>Chalenge:</b>
  <%=  link_to(image_tag(url_for(showchalengeinput_submission_path(@submission)),:style => "width:910px"),showchalengeinput_submission_path(@submission)) %>
</p>


<p>
  <b>Response:</b>
  <%=  link_to(image_tag(url_for(showresponse_submission_path(@submission)),:style => "width:910px"),showresponse_submission_path(@submission)) %>
</p>

<p>
  <b>Responsefileext:</b>
  <%= @submission.responsefileext %>
</p>

<p>
  <b>First viewed by contestant:</b>
  <%= @submission.announced %>
</p>

<p>
  <b>Final responce submited at:</b>
  <%= @submission.submited %>
</p>

<p>
  <b>Score:</b>
  <%= @submission.score %>
</p>

<p>
  <b>Participation:</b>
  <%= link_to @submission.Participation.name,@submission.Participation %>
</p>

<table><tr>
    <td><%=  button_to 'All Submissions',submissions_path,method: :get %></td>
    <%if @submission.Participation.Competition.endtime <Time.now and current_user.id==@submission.Participation.User_id %>
    <td><%= button_to 'Update',edit_submission_path(@submission),method: :get %></td>
    <%else%>
    <td><%= button_to 'Update',edit_submission_path(@submission),method: :get,:disabled=>true %></td>
    <%end%>
</tr></table>
